.App {
  font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.App,
html,
body,
#root,
#mapId {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.App {
  position: relative;
}
.MapPage {
  position: relative;
  width: 100%;
  height: 100%;
}
nav {
  position: relative;
}
#back-button {
  margin-top: 1em;
}
.signup-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.form.ui.large.form {
  min-width: 450px;
}

code {
  color: darkblue;
  background-color: lightgrey;
}
.codeblock pre {
  margin-left: -100px;
}
a:visited {
  color: inherit;
}
a:hover {
  color: royalblue;
}
.sidebar-content {
  border-left: 0px solid lightgrey;
}
.checkoutpropsbutton {
  border: none;
  background-color: white;
  padding: 0;
  font: inherit;
  text-decoration: underline;
  cursor: pointer;
}
.checkoutpropsbutton:hover {
  color: #2185d0;
}
#props h3 {
  font-family: monospace;
  margin: 20px 0 0;
  border-bottom: 1px solid grey;
}
#props h4 {
  margin: 0;
  font-weight: normal;
  font-family: monospace;
}
#props span.required {
  color: red;
  font-style: italic;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 0.8em;
}
#props p {
  margin: 0;
}
#props code {
  background-color: white;
  color: black;
}
