.editProfile-avatar {
    padding: 5px;
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.thumb {
    display: 'inline-flex';
    border: '1px solid #eaeaea';
    width: 100;
    height: 100;
    padding: 4;
  };