.logoContainer {
    display: flex; 
    top:0; 
    left:0;
    min-width: 60px;
    height: 56px;
  }
  
  .logo {
    height: 100%;
    width: 100%
  }

  @media only screen and (max-width: 600px) {
    .logoContainer {
      height: 44px;
    }
  }