.userMenu {
    display: flex;
    align-items: center;
    color: white !important;
    height: inherit;
    flex-shrink: 0;
  }
  
  .userMenu-avatar{
    margin-right: -15px;
  }
  
  .userMenu-menu{
    background-color: #2185d0 !important;
    height: inherit;
  }
  
  .guestMenu {
    padding: 5px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: right;
  }
  
  .btn-sign-in {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 12px;
    background-color: #2185d0;
    height: 40px;
    color: white;
    border: 2px solid white;
    outline: none;
    cursor: pointer;
  }
  
  .btn-sign-in:hover {
    background-color: #145485;
    color: white;
  }
  
  .btn-sign-in:active {
    box-shadow: 0 5px #145485;
    transform: translateY(4px);
  }
  
  .btn-register {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 12px;
    background-color: #2185d0;
    height: 40px;
    color: white;
    border: 2px solid white;
    outline: none;
    cursor: pointer;
  }
  
  .btn-register:hover {
    background-color: #145485;
    color: white;
  }
  
  .btn-register:active {
    box-shadow: 0 5px #145485;
    transform: translateY(4px);
  }

  @media only screen and (max-width: 600px) {
    .userMenu-avatar{
      margin-right: -25px;
    }
    .divider {
      display: none !important;
    }
  }