.userMenu {
    display: flex;
    align-items: center;
    color: white !important;
    height: inherit;
    flex-shrink: 0;
  }
  
  .userMenu-avatar{
    margin-right: -15px;
  }
  
  .userMenu-menu{
    background-color: #2185d0 !important;
    height: inherit;
  }

  .guestMenu {
    display: flex;
    align-items: center;
    color: white !important;
    height: inherit;
    flex-shrink: 0;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: right;
  }

  .guestMenu-big {
    display: flex;
    align-items: center;
    color: white !important;
    height: inherit;
    padding-right: 10px;
    flex-shrink: 0;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: right;
  }

  .guestMenu-menu{
    background-color: #2185d0 !important;
    height: inherit;
  }

  @media only screen and (max-width: 600px) {
    .userMenu-avatar{
      margin-right: -25px;
    }
    .divider {
      display: none !important;
    }
  }