.navlinkContainer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
  }
  
  .navlinkContainer .link{
    font-size: 18px;
    font-weight: 300;
    margin: 0 10px;
    color: white !important;
  }
  
  .navlinkIcon {
    width: 20px;
    height: 20px;
    color: white;
  }

  .navlinkContainer-mobile {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    height: inherit;
    color: white !important;
  }

  .navlinkDrop{
    background-color: #2185d0 !important;
    height: inherit;
  }
  .navlinkHeader {
    color:white
  }
  .navlinkHeader:hover {
    color:rgb(224, 224, 224)
  }